<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% for (var item of sql_result) { %>
      <p><%= new Date(item.timestamp).toUTCString() %> </p>
      <p>メッセージ内容： <%= item.comment %></p>
      <% } %>
  </body>
</html>
